body {
    font-family: "Helvetica";
    background-color: #eee;
    color: #333;
}

h1 {
    font-size: 50px;
    margin: 0;
}

p {
    font-style: italic;
}

h2 {
    color: #555;
    border-top: solid 1px #333;
}

ol {
    border-bottom: solid 1px #333;
}