/* Custom CSS */

* {
    margin: 0;
    padding: 0;
}

body {
    background: #4d2d06;
    font-family: Georgia, "Times New Roman", Serif;
    color: #fff;
    text-align: center;
    font-size: 50px;
}

#monkey {
    background: white;
    color: #4d2d06;
    font-family: Verdana, Arial, sans-serif;
}

#donkey {
    background: green;
    font-family: Monaco, sans-serif;
}

.primary-box {
    background: #222;
    color: #eee;
    font-size: 24px;
    margin: 0 0 10px;
    padding: 10px;
}

.secondary-box {
    background: #eeeeee;
    color: #222222;
    font-size: 24px;
    margin: 0 0 10px;
    padding: 10px;
}