* {
    margins: 0;
    padding: 0;
}

body {
    background: #adb195 url("images/green_background.jpg") top left repeat;
    color: #75400a;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    font-size: 14px;
}

/* Layout */

#logo {
    display: block;
    width: 200px;
    margin: 40px auto;
    background: none;
}

#container {
    width: 760px;
    margin: 0 auto;
    padding: 40px;
    background: url("images/yellow_background.jpg") top left repeat;
}

#container:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#main-content {
    width: 500px;
    float: left;
}

#sidebar {
    background: url("images/texture_background.jpg") top left repeat;
    width: 200px;
    float: left;
    padding: 20px 20px 0;
    margin: 0 0 0 20px;
}

#sidebar a:link {
    display: inline-block;
}

#special-offer {
    position: relative;
    background: url("images/red_background.jpg") top left repeat;
    color: white;
    padding: 0 20px 20px;
    margin: 60px 0 0 0;
}

#special-offer h2 {
    font-size: 22px;
    background: url("images/green_background.jpg") top left repeat;
    padding: 5px;
    display: inline;
    position: relative;
    top: -20px;
    left: -35px;
}

#steak {
    position: absolute;
    bottom: -20px;
    right: 10px;

}

#sidebar h3 {
    background: url("images/green_background.jpg") top left repeat;
    padding: 10px 10px 10px 30px;
    margin: 0 0 5px;
    color: white;
    position: relative;
    left: -30px;
}

#sidebar .widget {
    margin: 0 0 20px;
}

/* Typography */

h1,h2,h3 {
    font-family: "Arial Rounded MT Bold", Helvetica Rounded, Arial, sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 40px;
}

p.lead {
    font-family: "Avant Guard", Avantgarde, "Century Gothic", sans-serif;
    font-size: 18px;
    margin: 0 0 30px;
}

address ul {
    list-style: none;
}

a:link {
    background: #577a1b;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}